flows(3).json
[
    {
        "id": "9a541ff8c541be4f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cbeb8b247f6bc259",
        "type": "function",
        "z": "9a541ff8c541be4f",
        "name": "function 78",
        "func": "function getRandomFloat(min, max) {\n return Math.random() * (max - min) + min;\n}\n\nmsg.payload = getRandomFloat(-40, 100).toFixed(1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "7768d3ac4ea597ed"
            ]
        ]
    },
    {
        "id": "7768d3ac4ea597ed",
        "type": "http request",
        "z": "9a541ff8c541be4f",
        "name": "TemperatureSensor",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:59986/api/v2/resource/TemperatureSensor/temperature",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 120,
        "wires": [
            [
                "96af72d8f7de3275"
            ]
        ]
    },
    {
        "id": "96af72d8f7de3275",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 186",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 120,
        "wires": []
    },
    {
        "id": "edfb86570a6e3859",
        "type": "function",
        "z": "9a541ff8c541be4f",
        "name": "function 79",
        "func": "var output = [];\nvar objects = JSON.parse(msg.payload).readings;\nfor (var o in objects) {\n    var v = objects[o];\n    var ts = Math.floor(v.origin / 1000000);\n    var measurementjson1 = {\n        timestamp: new Date(ts).toISOString(),\n        parameter: v.resourceName,\n        data: v.value,\n        unit: v.units\n    };\n    var measurementjson2 = {\n        gateway: v.deviceName,\n        unique: v.deviceName + \" \" + v.resourceName,\n        location: \"Hyderabad\"\n    };\n    output.push([measurementjson1, measurementjson2]);\n\n}\nconsole.log(output);\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 180,
        "wires": [
            [
                "b1f7329c722eebe1"
            ]
        ]
    },
    {
        "id": "b1f7329c722eebe1",
        "type": "influxdb out",
        "z": "9a541ff8c541be4f",
        "influxdb": "92d96ef258e85909",
        "name": "TemperatureSensor-out",
        "measurement": "TemperatureSensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "Flowrate",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "38eaf6ed8cf254df",
        "type": "http request",
        "z": "9a541ff8c541be4f",
        "name": "TemperatureSensor-event",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:59880/api/v2/reading/device/name/TemperatureSensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "edfb86570a6e3859",
                "cc97ca88e4317adf"
            ]
        ]
    },
    {
        "id": "cc97ca88e4317adf",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 187",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd6b7f7471519358",
        "type": "influxdb in",
        "z": "9a541ff8c541be4f",
        "influxdb": "92d96ef258e85909",
        "name": "Temp-In",
        "query": "select * from TemperatureSensor;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 580,
        "y": 240,
        "wires": [
            [
                "24c8b7a630e4d7ba"
            ]
        ]
    },
    {
        "id": "24c8b7a630e4d7ba",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 188",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "d19a1fd9874b015c",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "cbeb8b247f6bc259"
            ]
        ]
    },
    {
        "id": "8afa27a41bccacd1",
        "type": "http request",
        "z": "9a541ff8c541be4f",
        "name": "HumidSensor1",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:59986/api/v2/resource/HumidSensor/humidity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "631dc266ec0e0fdc"
            ]
        ]
    },
    {
        "id": "631dc266ec0e0fdc",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 189",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ae74cc6854e7e6a",
        "type": "function",
        "z": "9a541ff8c541be4f",
        "name": "function 80",
        "func": "function getRandomFloat(min, max) {\n return Math.random() * (max - min) + min;\n}\n\nmsg.payload = getRandomFloat(0, 100).toFixed(1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "8afa27a41bccacd1"
            ]
        ]
    },
    {
        "id": "fb26bbc89f79957c",
        "type": "function",
        "z": "9a541ff8c541be4f",
        "name": "function 81",
        "func": "var output = [];\nvar objects = JSON.parse(msg.payload).readings;\nfor (var o in objects) {\n    var v = objects[o];\n    var ts = Math.floor(v.origin / 1000000);\n    var measurementjson1 = {\n        timestamp: new Date(ts).toISOString(),\n        parameter: v.resourceName,\n        data: v.value,\n        unit: v.units\n    };\n    var measurementjson2 = {\n        gateway: v.deviceName,\n        unique: v.deviceName + \" \" + v.resourceName,\n        location: \"Hyderabad\"\n    };\n    output.push([measurementjson1, measurementjson2]);\n\n}\nconsole.log(output);\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "abb36b9b0bccbe78"
            ]
        ]
    },
    {
        "id": "abb36b9b0bccbe78",
        "type": "influxdb out",
        "z": "9a541ff8c541be4f",
        "influxdb": "92d96ef258e85909",
        "name": "Humid-out",
        "measurement": "HumidSensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "Flowrate",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "f89a98881cae0c2c",
        "type": "http request",
        "z": "9a541ff8c541be4f",
        "name": "HumidSensor-event",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:59880/api/v2/reading/device/name/HumidSensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "fb26bbc89f79957c",
                "ee6e8a641f5678f6"
            ]
        ]
    },
    {
        "id": "ee6e8a641f5678f6",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 190",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "d55b35ec58fba482",
        "type": "influxdb in",
        "z": "9a541ff8c541be4f",
        "influxdb": "92d96ef258e85909",
        "name": "Humid-In",
        "query": "select * from HumidSensor;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "214bbe3d46d3ad8e"
            ]
        ]
    },
    {
        "id": "214bbe3d46d3ad8e",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 191",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "0e7749cebe04cab8",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "5ae74cc6854e7e6a"
            ]
        ]
    },
    {
        "id": "e392686d0ae45c11",
        "type": "http request",
        "z": "9a541ff8c541be4f",
        "name": "LightSensor1",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:59986/api/v2/resource/LightSensor/light",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 540,
        "wires": [
            [
                "047171e2808a5652"
            ]
        ]
    },
    {
        "id": "047171e2808a5652",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 192",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 540,
        "wires": []
    },
    {
        "id": "ae1067f6388c7296",
        "type": "function",
        "z": "9a541ff8c541be4f",
        "name": "function 82",
        "func": "function getRandomFloat(min, max) {\n return Math.random() * (max - min) + min;\n}\n\nmsg.payload = getRandomFloat(0,100000).toFixed(1)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "e392686d0ae45c11"
            ]
        ]
    },
    {
        "id": "2e5e09e6f86ee95e",
        "type": "function",
        "z": "9a541ff8c541be4f",
        "name": "function 83",
        "func": "var output = [];\nvar objects = JSON.parse(msg.payload).readings;\nfor (var o in objects) {\n    var v = objects[o];\n    var ts = Math.floor(v.origin / 1000000);\n    var measurementjson1 = {\n        timestamp: new Date(ts).toISOString(),\n        parameter: v.resourceName,\n        data: v.value,\n        unit: v.units\n    };\n    var measurementjson2 = {\n        gateway: v.deviceName,\n        unique: v.deviceName + \" \" + v.resourceName,\n        location: \"Hyderabad\"\n    };\n    output.push([measurementjson1, measurementjson2]);\n\n}\nconsole.log(output);\nmsg.payload = output;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 600,
        "wires": [
            [
                "8a1d3fdbba6cd2e8"
            ]
        ]
    },
    {
        "id": "8a1d3fdbba6cd2e8",
        "type": "influxdb out",
        "z": "9a541ff8c541be4f",
        "influxdb": "92d96ef258e85909",
        "name": "Light-out",
        "measurement": "LightSensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "Flowrate",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "e8fa8a45e488a733",
        "type": "http request",
        "z": "9a541ff8c541be4f",
        "name": "LightSensor-event",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:59880/api/v2/reading/device/name/LightSensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 600,
        "wires": [
            [
                "2e5e09e6f86ee95e",
                "7b2a7f56673073bc"
            ]
        ]
    },
    {
        "id": "7b2a7f56673073bc",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 193",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "e392555134200f7a",
        "type": "influxdb in",
        "z": "9a541ff8c541be4f",
        "influxdb": "92d96ef258e85909",
        "name": "Light-In",
        "query": "select * from LightSensor;",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "3b1e571c0db0ce68"
            ]
        ]
    },
    {
        "id": "3b1e571c0db0ce68",
        "type": "debug",
        "z": "9a541ff8c541be4f",
        "name": "debug 194",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 680,
        "wires": []
    },
    {
        "id": "56c56d326e93b77e",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "ae1067f6388c7296"
            ]
        ]
    },
    {
        "id": "3ee53532e64cbef9",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "38eaf6ed8cf254df"
            ]
        ]
    },
    {
        "id": "44623707612eaebb",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "bd6b7f7471519358"
            ]
        ]
    },
    {
        "id": "d2b39623d90379b5",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "f89a98881cae0c2c"
            ]
        ]
    },
    {
        "id": "db1f3ec65c2539ee",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "d55b35ec58fba482"
            ]
        ]
    },
    {
        "id": "01a7301f7d245db3",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "e8fa8a45e488a733"
            ]
        ]
    },
    {
        "id": "8ba82e36535421c1",
        "type": "inject",
        "z": "9a541ff8c541be4f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "e392555134200f7a"
            ]
        ]
    },
    {
        "id": "92d96ef258e85909",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "sensorsedgex",
        "name": "",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]