newwwwwwwwwwwwwflow
[{"id":"1a2b3c4d","type":"tab","label":"Azure IoT Hub Example","disabled":false,"info":""},{"id":"826a3d0e.05816","type":"azureiothub-config","z":"","deviceName":"your-device-name","deviceConnectionString":"","hostName":"your-azure-iot-hub-name.azure-devices.net"},{"id":"29d80a3e.7ac704","type":"inject","z":"1a2b3c4d","name":"Simulate Temperature","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\": $(random(10, 30))}","payloadType":"json","x":210,"y":140,"wires":[["e718ebcf.f4ff1"]]},{"id":"e718ebcf.f4ff1","type":"azureiothub","z":"1a2b3c4d","azureiothubconfig":"826a3d0e.05816","x":450,"y":140,"wires":[["ed32c4ee.7744f8"]]},{"id":"ed32c4ee.7744f8","type":"debug","z":"1a2b3c4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"6c72f8bc.b654f4","type":"azureiothub in","z":"1a2b3c4d","azureiothubconfig":"826a3d0e.05816","x":250,"y":260,"wires":[["c9c12b3d.dad3d8"]]},{"id":"c9c12b3d.dad3d8","type":"debug","z":"1a2b3c4d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":260,"wires":[]},{"id":"7740d0e4.9641dc","type":"ui_gauge","z":"1a2b3c4d","name":"Temperature","group":"a5e5d97f.1d2028","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":340,"wires":[]},{"id":"9e535a5c.7b63e8","type":"azureiothub in","z":"1a2b3c4d","azureiothubconfig":"826a3d0e.05816","x":250,"y":340,"wires":[["25d3a19d.66b79a"]]},{"id":"25d3a19d.66b79a","type":"function","z":"1a2b3c4d","name":"Extract Temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":340,"wires":[["7740d0e4.9641dc"]]},{"id":"a5e5d97f.1d2028","type":"ui_group","name":"Temperature","tab":"c7d5e6e2.b71238","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7d5e6e2.b71238","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]

