noderedazureiothub
[{"id":"218d84da.6f6d22","type":"tab","label":"Azure IoT Hub Telemetry","disabled":false,"info":""},{"id":"34ff5aa5.281ddc","type":"inject","z":"218d84da.6f6d22","name":"Generate Telemetry Data","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":100,"wires":[["dd5b1a43.aa86c"]]},{"id":"dd5b1a43.aa86c","type":"function","z":"218d84da.6f6d22","name":"Generate Random Telemetry Data","func":"var temperature = Math.floor(Math.random() * 100);\nvar humidity = Math.floor(Math.random() * 100);\n\nvar telemetryData = {\n    temperature: temperature,\n    humidity: humidity\n};\n\nmsg.payload = telemetryData;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["2af72bce.e84a4"]]},{"id":"2af72bce.e84a4","type":"azureiothub","z":"218d84da.6f6d22","name":"Azure IoT Hub","protocol":"amqp","x":680,"y":100,"wires":[[]]},{"id":"d2e4084b.c68028","type":"ui_chart","z":"218d84da.6f6d22","name":"Telemetry Data","group":"743e7eae.b0fb3c","order":0,"width":"0","height":"0","label":"Telemetry Data","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":870,"y":220,"wires":[[],[]]},{"id":"9644e07a.d17e2","type":"azureiothub","z":"218d84da.6f6d22","name":"Azure IoT Hub","protocol":"amqp","x":410,"y":220,"wires":[["d2e4084b.c68028"]]},{"id":"1e898255.1847f5","type":"azureiothub","z":"218d84da.6f6d22","name":"Azure IoT Hub","protocol":"amqp","x":410,"y":160,"wires":[["d2e4084b.c68028"]]},{"id":"4a797e4f.6b197c","type":"ui_gauge","z":"218d84da.6f6d22","name":"Temperature","group":"4f5e399a.f926cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"33","seg2":"66","x":860,"y":160,"wires":[]},{"id":"463e272f.4e0a1c","type":"ui_gauge","z":"218d84da.6f6d22","name":"Humidity","group":"4f5e399a.f926cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"33","seg2":"66","x":840,"y":280,"wires":[]},{"id":"8334edc4.6db64","type":"azureiothub","z":"218d84da.6f6d22","name":"Azure IoT Hub","protocol":"amqp","x":440,"y":280,"wires":[["463e272f.4e0a1c"]]},{"id":"77c43252.a0420c","type":"comment","z":"218d84da.6f6d22","name":"Generate Telemetry Data","info":"","x":240,"y":60,"wires":[]},{"id":"4d6422ff.76f9f4","type":"comment","z":"218d84da.6f6d22","name":"Send Telemetry Data to Azure IoT Hub","info":"","x":730,"y":60,"wires":[]},{"id":"e46e5568.39f11","type":"comment","z":"218d84da.6f6d22","name":"Display Temperature and Humidity on Dashboard","info":"","x":900,"y":120,"wires":[]},{"id":"ca84f768.3c2f18","type":"comment","z":"218d84da.6f6d22","name":"Retrieve Telemetry Data from Azure IoT Hub","info":"","x":380,"y":120,"wires":[]},{"id":"8b229034.67a328","type":"comment","z":"218d84da.6f6d22","name":"Display Temperature and Humidity on Dashboard","info":"","x":880,"y":240,"wires":[]},{"id":"743e7eae.b0fb3c","type":"ui_group","name":"Telemetry","tab":"eff00a62.24a5e","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f5e399a.f926cc","type":"ui_group","name":"Gauges","tab":"eff00a62.24a5e","order":2,"disp":true,"width":"3","collapse":false},{"id":"eff00a62.24a5e","type":"ui_tab","name":"Azure IoT Hub","icon":"dashboard","disabled":false,"hidden":false}]
